- if (flash[:errors] && flash[:errors].length > 0) || (flash[:notices] && flash[:notices].length > 0)
  .container
    - if flash[:errors]
      .alert.alert-danger
        %ul
          - flash[:errors].each do |m|
            %li
              ="- #{m}"
    - elsif flash[:notices]
      .alert.alert-success
        %ul
          - flash[:notices].each do |m|
            %li
              ="#{m}"