/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */

/* BUTTONS */

.btn {
  background-color: #2f4f4f;
  color: white;
  text-shadow: 1px 1px 3px #1c1b1c;
}

.btn:hover {
  cursor: pointer;
}

/* BORDERS */

.j-b-0 {
  border: none;
}

.j-b-r-4 {
  border-radius: 4px;
}

/* COLOR */
.j-primary {
  color: #2f4f4f;
}

/* FONT */
.j-fs-large {
  font-size: 30px;
}

.j-header {
  font-size: 25px;
  font-weight: bold;
}

/* PADDING AND MARGIN */
.j-m-none {
  margin: 0;
}
.j-p-large {
  padding: 30px;
}

.j-p-medium {
  padding: 20px;
}

.j-p-small {
  padding: 15px;
}

.j-p-r-large {
  padding-right: 30px;
}

.j-p-l-large {
  padding-left: 30px;
}

.j-m-l-large {
  margin-left: 30px;
}

.j-m-b-small {
  margin-bottom: 15px;
}

.j-m-b-xsmall {
  margin-bottom: 8px;
}

/* POSITIONING */

.j-tc {
  text-align: center;
}

.j-float-right {
  float: right;
}

/* NAV */

.j-nav {
  border-bottom: solid;
  border-width: 1px;
  border-color: #ebebeb;
  background-color: white;
}

/* MISC */
.j-errors {
  border-radius: 5px;
  background-color: #ffcccc;
  padding: 10px;
}

.j-notices {
  border-radius: 5px;
  background-color: #CFDBC5;
  padding: 10px;
}

.j-bg-white{
  background-color: white;
}

.j-ilb {
  display: inline-block;
}