%nav.navbar.navbar-default
  .navbar-header
    %a.navbar-brand.j-primary.j-fs-large.j-fw-bold{href: '/'} WalkAwayt
  .navbar-right.j-tc.j-m-none
    - if is_logged_in?
      %a.btn.navbar-btn.j-m-r-small{href: '/signout'}Log Out
    - else
      = form_for :session, url: sessions_path, html: {class: "navbar-form", style: "margin-bottom: 0;"} do |f|
        =f.email_field :email, placeholder: "Email", class: "j-b-r-4"
        =f.password_field :password, placeholder: "Password", class: "j-b-r-4"
        =f.submit "Log in", class: "btn j-b-r-4"
      %p.j-ilb Or 
      %span.j-ilb
        %a{href: "/signup"}Sign up